.profile {
  width: 300px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #f8f6f6;
  border-radius: 12px;
  box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.3);
}

.avatar {
  position: relative;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.new {
  position: absolute;
  top: 10%;
  left: 70%;
  background-color: #a4ccfa;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px;
  text-transform: uppercase;
}
